<div class="center" >
      <mat-toolbar>
            <span>LOGIN</span>
          </mat-toolbar>
          <mat-card class="my-card">
             <mat-card-content>
                <form class="my-form" (ngSubmit)="onSubmit()" #f="ngForm">
                   <mat-form-field class="full-width">
                      <mat-label>Email</mat-label>
                      <input type="email" required email ngModel matInput #email="ngModel" placeholder="Email" name="email">
                   </mat-form-field>
                   <span *ngIf="!email.valid && email.touched" >Please enter valid email </span>
                   <mat-form-field class="full-width">
                      <mat-label>Password</mat-label>
                      <input  #password="ngModel" ngModel required matInput  placeholder="Password" type="password" name="password">
                   </mat-form-field>
                   <span *ngIf="!password.valid && password.touched" >Please enter valid email </span>
                </form>
             </mat-card-content>
             <mat-card-actions>
                <button [disabled]="!f.valid" mat-raised-button (click)="login()" color="primary">LOGIN</button>
             </mat-card-actions>
          </mat-card>
</div>
