


<!-- <ng-container>
    <app-header>
      </app-header>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav">

        <app-sidebar></app-sidebar>
      </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>

    </mat-sidenav-container>  
</ng-container> -->

<ng-container>
    <mat-toolbar class="example-header" color="primary">

            <span>Application Title</span>

                    <span class="example-fill-remaining-space"></span>
                    <button mat-button routerLink="/login">Login</button>
                    <button mat-button routerLink="/register">Register</button>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
  
                    <mat-list>
                              <mat-list-item routerLink="/route"> Router </mat-list-item>
                              <mat-list-item> Froms </mat-list-item>
                              <mat-list-item> Directives </mat-list-item>
                    </mat-list>
      </mat-sidenav>
  
    <mat-sidenav-content>
     <router-outlet>
     </router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>    
  
    <mat-toolbar class="example-footer" color="primary">Footer</mat-toolbar>
</ng-container>